:root {
  --color-background: var(--color-white);
  --color: var(--color-black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-black);
    --color: var(--color-white);
  }
}

body {
  min-height: 100vh;
  color: var(--color);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
